---
import bgImage from "../assets/tips-box.png";
---

<div class="relative z-10 rounded-[6px] overflow-hidden shadow-md">
  <div
    class="absolute inset-0 -z-10 bg-cover bg-center"
    style={`background-image: url('${bgImage.src}');`}
  >
  </div>

  <div
    class="bg-gray/50 text-white text-center text-xs font-semibold py-5 px-5 space-y-2"
  >
    <p>
      🌟 Xem phim hot cập nhật liên tục, không quảng cáo duy nhất tại
      <a
        href="https://motchillw.live"
        class="underline hover:text-green-400 font-bold"
        target="_blank"
        rel="noopener noreferrer"
      >
        motphimv1.com
      </a>
    </p>
    <p>
      Nếu bạn không xem được video, hãy thử tắt trình chặn quảng cáo hoặc tải
      lại trang
    </p>
  </div>
</div>
