---
import img1 from "../../assets/728x90.svg";
import img2 from "../../assets/728x90.svg";
---

<div class="flex gap-2 mb-4">
  <div class="relative overflow-hidden shadow-lg border-2 border-white w-1/2">
    <img src={img1.src} alt="Banner 1" class="w-full h-auto" />
  </div>

  <div class="relative overflow-hidden shadow-lg border-2 border-white w-1/2">
    <img src={img2.src} alt="Banner 2" class="w-full h-auto" />
  </div>
</div>
