---
import bgImage from "../../assets/box-1.jpg";
---

<div
  class="relative z-10 overflow-hidden shadow-lg mb-4 border border-[#FFDE8A]"
>
  <div class="w-full overflow-hidden">
    <h1
      class="text-white font-semibold font-segoe text-sm lg:text-lg px-4 py-2 text-center whitespace-normal md:whitespace-nowrap md:animate-scroll"
    >
      Motchill - Xem phim mới, không quảng cáo, Full HD, cập nhật mỗi ngày!
    </h1>
  </div>
</div>
