---
import bgImage from "../../assets/box1.jpg";
---

<div class="relative z-10 overflow-hidden rounded-[4px] shadow-lg py-2">
  <div
    class="absolute inset-0 -z-10 bg-cover bg-center"
    style={`background-image: url('${bgImage.src}');`}
  >
  </div>

  <div class="w-full overflow-hidden">
    <h1
      class="text-gray-200 font-bold text-sm px-4 text-center whitespace-normal md:whitespace-nowrap md:animate-scroll"
    >
      🌟 Chào mừng bạn đến với
      <a
        href="#"
        class="underline
        text-green-100
        hover:text-white
        mx-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        Motchill
      </a>
      - Xem phim không quảng cáo - Full HD - Cập nhật mỗi ngày !!!
    </h1>
  </div>
</div>

<!-- href="https://t.me/+FNo8VjAgkrk1ZDI1" -->
