---
import bgImage from "../../assets/box-1.jpg";
---

<div class="relative z-10 overflow-hidden shadow-lg mb-4 border-2 border-white">
  {/* Background */}
  <div
    class="absolute inset-0 -z-10 bg-cover bg-center"
    style={`background-image: url('${bgImage.src}');`}
  >
  </div>

  {/* Overlay màu tối */}
  <div class="absolute inset-0 -z-10 bg-black/20"></div>

  <div class="w-full overflow-hidden">
    <h1
      class="text-black font-semibold font-segoe text-sm lg:text-lg px-4 py-2 text-center whitespace-normal md:whitespace-nowrap md:animate-scroll"
    >
      Chào mừng bạn đến với PhimMoiChill - Xem phim không quảng cáo - Full HD -
      Cập nhật mỗi ngày !!!
    </h1>
  </div>
</div>
